#blackBackground {
    width: 100%;
    background-color: black;
    position: relative;
}

#blackBackground > #r1 {
    display: flex;
    align-items: center;
}

#blackBackground > #r1 > img {
    margin: 20px;
    width: 80px;
}

#blackBackground > #r1 > nav {
    flex: 1;
    height: fit-content;

}

#blackBackground > #r1 > nav > div {
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    position: relative;
    top: -20px;
}
#blackBackground > #r1 > nav > div > a {
    color: #fff;
    margin: 0 2em;
}


#blackBackground > .bg {
    color: #fff;
    text-align: center;
    position: relative;
    background-color: black;
    height: fit-content;
    min-height: 200px;
}

#blackBackground > .bg > .inner-title {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}
#blackBackground > .bg > .inner-bg {
    height: 200px;
    width: 100%;
    background-color: black;
    transform: skewY(-5deg);
    transform-origin: top right;
    position: absolute;
}

#blackBackground > .bg > .inner-title > h1{
    position: relative;
    top: -40px;
    font-size: 80px;
}

#blackBackground > .bg > .inner-title > h1:nth-child(2){
    font-size: 80px;
    position: relative;
    top: -90px;
}

#main{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 500px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 750px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    grid-column-gap: 100px;
}

#location{
    background-color: black;
    position: relative;
    border-radius: 8%;
}

#location>div:first-child{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#location>div>img{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#location>div>h3{
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: white;
}

#location>div:nth-child(2)>h4{
    width: 280px;
    position: relative;
    top: 250px;
    left: 35%;
    color: white;
    font-size: 20px;
}

#location>div:nth-child(2)>h5{
    width: 250px;
    position: relative;
    top: 250px;
    left: 25px;
    color: white;
    text-align: center;
    font-size: 15px;
}

#phone{
    background-color: black;
    position: relative;
    border-radius: 8%;
}

#phone>div:first-child{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;}

#phone>div>img {
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#phone>div>h3{
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 0;
    left: 20px;
    margin: auto;
    color: white;
}

#phone>div:nth-child(2)>h4{
    width: 280px;
    position: relative;
    top: 250px;
    left: 35%;
    color: white;
    font-size: 20px;
}

#phone>div:nth-child(2)>h5{
    width: 250px;
    position: relative;
    top: 250px;
    left: 25px;
    color: white;
    font-size: 15px;
    text-align: center;
}

#e-mail{
    background-color: black;
    position: relative;
    border-radius: 8%;
}

#e-mail>div:first-child{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#e-mail>div>img{
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#e-mail>div>h3{
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 0;
    left: 20px;
    margin: auto;
    color: white;
}

#e-mail>div:nth-child(2)>h4{
    width: 280px;
    position: relative;
    top: 250px;
    left: 35%;
    color: white;
    font-size: 20px;
}

#e-mail>div:nth-child(2)>h5{
    width: 250px;
    position: relative;
    top: 250px;
    left: 25px;
    color: white;
    font-size: 15px;
    text-align: center;
}

#FooterBlackBackground {
    width: 100%;
    height: 50vh;
    background-color: black;
    position: absolute;
    top: 1150px;
}

#FooterBlackBackground > div > h6 {
    color: white;
    font-size: 15px;
    position: relative;
    left: 50px;
    max-width: 300px;
}

#bottomMiddleFooter > h2 {
    position: absolute;
    top: 1160px;
    bottom: 0;
    right: 0;
    left: 46%;
    margin: auto;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
}

#bottomMiddleFooter > nav > #links {
    position: absolute;
    top: 1200px;
    bottom: 0;
    right: 0;
    left: 46%;
    margin: auto;
    color: white;
    letter-spacing: 2px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#logoFooter {
    width: 180px;
    height: 160px;
    position: absolute;
    top: 1200px;
    right: 50px;
}

#infoLink {
    color: white;
    position: absolute;
    top: 1410px;
    left: 32%;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 14px;
}

#infoLink > a {
    color: white;
}

#infoLink > img {
    width: 20px;
    aspect-ratio: 1/1;
    position: relative;
    top: 4px;
}

#phoneIcon {
    width: 25px;
    aspect-ratio: 1/1;
    max-width: 25px;
    max-height: 25px;
    position: relative;
    top: 90px;
    left: 70px;
}

#FooterBlackBackground > div > #mobileNo {
    color: white;
    position: absolute;
    top: 60px;
    left: 113px;
    letter-spacing: 1px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#mailIcon {
    width: 25px;
    aspect-ratio: 1/1;
    position: relative;
    top: 145px;
    left: 40px;
}

#FooterBlackBackground > div > #email {
    color: white;
    position: absolute;
    top: 115px;
    left: 110px;
    letter-spacing: 1px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#middleFooter {
    display: none;
}

