#blackBackground {
    width: 100%;
    background-color: black;
    position: relative;
}

#blackBackground > #r1 {
    display: flex;
    align-items: center;
}

#blackBackground > #r1 > img {
    margin: 20px;
    width: 80px;
}

#blackBackground > #r1 > nav {
    flex: 1;
    height: fit-content;
}

#blackBackground > #r1 > nav > div {
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    position: relative;
    top: -20px;
}

#blackBackground > #r1 > nav > div > a {
    color: #fff;
    margin: 0 2em;
}

#blackBackground > .bg {
    color: #fff;
    text-align: center;
    position: relative;
    background-color: black;
    height: fit-content;
    min-height: 200px;
}

#blackBackground > .bg > .inner-title {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}

#blackBackground > .bg > .inner-bg {
    height: 200px;
    width: 100%;
    background-color: black;
    transform: skewY(-5deg);
    transform-origin: top right;
    position: absolute;
}

#blackBackground > .bg > .inner-title > h1{
    position: relative;
    top: -40px;
    font-size: 80px;
}

#blackBackground > .bg > .inner-title > h1:nth-child(2){
    font-size: 80px;
    position: relative;
    top: -90px;
}

.projects > div{
    width: 1000px;
    height: 600px;
    background-color: #E6FCFF;
}

.projects > div:first-child {
    position: absolute;
    top: 780px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:first-child > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:first-child > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:first-child > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:first-child > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(2) {
    position: absolute;
    top: 1500px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(2) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(2) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(2) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(2) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(3) {
    position: absolute;
    top: 2200px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(3) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(3) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(3) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(3) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(4) {
    position: absolute;
    top: 2900px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(4) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(4) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(4) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(4) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(5) {
    position: absolute;
    top: 3600px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(5) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(5) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(5) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(5) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(6) {
    position: absolute;
    top: 4300px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(6) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(6) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(6) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(6) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(7) {
    position: absolute;
    top: 5000px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(7) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(7) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(7) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(7) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.projects > div:nth-child(8) {
    position: absolute;
    top: 5700px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(8) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(8) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(8) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(8) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.projects > div:nth-child(9) {
    position: absolute;
    top: 6400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(9) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(9) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(9) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(9) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.projects > div:nth-child(10) {
    position: absolute;
    top: 7100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(10) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(10) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(10) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(10) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects > div:nth-child(11) {
    position: absolute;
    top: 7800px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(11) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(11) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(11) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(11) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.projects > div:nth-child(12) {
    position: absolute;
    top: 8500px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(12) > img {
    width: 900px;
    height: 430px;
    position: absolute;
    top: -130px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(12) > p {
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(12) > button {
    width: 165px;
    height: 45px;
    background-color: #51C16D;
    border: 1px solid #51C16D;
    border-radius: 50px;
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.projects > div:nth-child(12) > button > a {
    color: white;
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects2{
    display: none;
}

#FooterBlackBackground {
    width: 100%;
    height: 50vh;
    background-color: black;
    position: absolute;
    top: 9000px;
}

#FooterBlackBackground > div > h6 {
    color: white;
    font-size: 15px;
    position: relative;
    left: 50px;
    max-width: 300px;
}

#bottomMiddleFooter > h2 {
    position: absolute;
    top: 9010px;
    bottom: 0;
    right: 0;
    left: 46%;
    margin: auto;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
}

#bottomMiddleFooter > nav > #links {
    position: absolute;
    top: 9050px;
    bottom: 0;
    right: 0;
    left: 46%;
    margin: auto;
    color: white;
    letter-spacing: 2px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#logoFooter {
    width: 180px;
    height: 160px;
    position: absolute;
    top: 9040px;
    right: 50px;
}

#infoLink {
    color: white;
    position: absolute;
    top: 9250px;
    left: 32%;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 14px;
}

#infoLink > a {
    color: white;
}

#infoLink > img {
    width: 20px;
    aspect-ratio: 1/1;
    position: relative;
    top: 4px;
}

#phoneIcon {
    width: 25px;
    aspect-ratio: 1/1;
    max-width: 25px;
    max-height: 25px;
    position: relative;
    top: 90px;
    left: 70px;
}

#FooterBlackBackground > div > #mobileNo {
    color: white;
    position: absolute;
    top: 60px;
    left: 113px;
    letter-spacing: 1px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#mailIcon {
    width: 25px;
    aspect-ratio: 1/1;
    position: relative;
    top: 145px;
    left: 40px;
}

#FooterBlackBackground > div > #email {
    color: white;
    position: absolute;
    top: 115px;
    left: 110px;
    letter-spacing: 1px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#middleFooter {
    display: none;
}

/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1016px){

    .projects{
        display: none;
    }

    .projects2{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
        position: absolute;
        top: 1200px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 50px;
        grid-row-gap: 70px;
    }

    .projects2>div{
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

   .projects2>div>h3{
       text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
       position: absolute;
       top: 70px;
       bottom: 0;
       right: 0;
       left: 130px;
       margin: auto;
    }

    .projects2>div>button{
        background-color: white;
        border: none;
        position: relative;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 150px;
        margin: auto;
    }

    #FooterBlackBackground {
        width: 100%;
        height: 50vh;
        background-color: black;
        position: absolute;
        top: 2100px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 15px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 2110px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 2150px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #logoFooter {
        width: 180px;
        height: 160px;
        position: absolute;
        top: 2150px;
        right: 50px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 2350px;
        left: 25%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 14px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 25px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 90px;
        left: 70px;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 60px;
        left: 113px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #mailIcon {
        width: 25px;
        aspect-ratio: 1/1;
        position: relative;
        top: 145px;
        left: 40px;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 115px;
        left: 110px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #middleFooter {
        display: none;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 870px){

    .projects2{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
        position: absolute;
        top: 1200px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 70px;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 835px){

    .projects2{
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
        position: absolute;
        top: 1200px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 70px;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 740px){

    .projects2{
        display: grid;
        grid-template-columns: 320px 320px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
        position: absolute;
        top: 1150px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    .projects2>div>h3{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
        position: absolute;
        top: 70px;
        bottom: 0;
        right: 0;
        left: 100px;
        margin: auto;
    }

    .projects2>div>button{
        background-color: white;
        border: none;
        position: relative;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 120px;
        margin: auto;
    }

    #FooterBlackBackground {
        width: 100%;
        height: 50vh;
        background-color: black;
        position: absolute;
        top: 1950px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 15px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 1960px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 2000px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #logoFooter {
        width: 150px;
        height: 130px;
        position: absolute;
        top: 2000px;
        right: 30px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 2200px;
        left: 15%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 14px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 25px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 90px;
        left: 40px;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 60px;
        left: 83px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #mailIcon {
        width: 25px;
        aspect-ratio: 1/1;
        position: relative;
        top: 145px;
        left: 10px;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 115px;
        left: 80px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #middleFooter {
        display: none;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 680px){

    .projects2{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
        position: absolute;
        top: 1150px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    .projects2>div>h3{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
        position: absolute;
        top: 70px;
        bottom: 0;
        right: 0;
        left: 100px;
        margin: auto;
    }

    .projects2>div>button{
        background-color: white;
        border: none;
        position: relative;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 120px;
        margin: auto;
    }

    #FooterBlackBackground {
        width: 100%;
        height: 50vh;
        background-color: black;
        position: absolute;
        top: 1950px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 12px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 1960px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 2000px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #logoFooter {
        width: 130px;
        height: 110px;
        position: absolute;
        top: 2000px;
        right: 20px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 2190px;
        left: 15%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 12px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 20px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 80px;
        left: 20px;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 60px;
        left: 53px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #mailIcon {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 140px;
        left: 0;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 115px;
        left: 55px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #middleFooter {
        display: none;
    }


}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 640px){

    .projects2{
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
        position: absolute;
        top: 1150px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    .projects2>div>h3{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
        position: absolute;
        top: 70px;
        bottom: 0;
        right: 0;
        left: 100px;
        margin: auto;
    }

    .projects2>div>button{
        background-color: white;
        border: none;
        position: relative;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 120px;
        margin: auto;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 600px){

    .projects2{
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 180px 180px 180px 180px 180px 180px ;
        position: absolute;
        top: 1080px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    .projects2>div>h3{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
        position: absolute;
        top: 70px;
        bottom: 0;
        right: 0;
        left: 70px;
        margin: auto;
    }

    .projects2>div>button{
        background-color: white;
        border: none;
        position: relative;
        top: 100px;
        bottom: 0;
        right: 0;
        left: 90px;
        margin: auto;
    }

    #FooterBlackBackground {
        width: 100%;
        height: 60vh;
        background-color: black;
        position: absolute;
        top: 1850px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 12px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 1860px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 1900px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #logoFooter {
        width: 130px;
        height: 110px;
        position: absolute;
        top: 1900px;
        left: 20px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 2150px;
        left: 3%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 12px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 20px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 225px;
        left: 38vw;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 200px;
        left: 45vw;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #mailIcon {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 260px;
        left: 33vw;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 240px;
        left: 45vw;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }


}



/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 540px){

    .projects2{
        display: grid;
        grid-template-columns: 230px 230px;
        grid-template-rows: 180px 180px 180px 180px 180px 180px ;
        position: absolute;
        top: 1080px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

}