#blackBackground {
    width: 100%;
    background-color: black;
    position: relative;
}

#blackBackground > #r1 {
    display: flex;
    align-items: center;
}

#blackBackground > #r1 > img {
    margin: 20px;
    width: 80px;
}

#blackBackground > #r1 > nav {
    flex: 1;
    height: fit-content;
}

#blackBackground > #r1 > nav > div {
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    position: relative;
    top: -20px;
}

#blackBackground > #r1 > nav > div > a {
    color: #fff;
    margin: 0 2em;
}

#blackBackground > .bg {
    color: #fff;
    text-align: center;
    position: relative;
    background-color: black;
    height: fit-content;
    min-height: 200px;
}

#blackBackground > .bg > .inner-title {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}

#blackBackground > .bg > .inner-bg {
    height: 200px;
    width: 100%;
    background-color: black;
    transform: skewY(-5deg);
    transform-origin: top right;
    position: absolute;
}

#blackBackground > .bg > .inner-title > h1{
    position: relative;
    top: -40px;
    font-size: 80px;
}

#blackBackground > .bg > .inner-title > h1:nth-child(2){
    font-size: 80px;
    position: relative;
    top: -90px;
}

.hamburger{
    display: none;
}

.mobile_nav{
    display: none;
}

#heading{
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    line-height: 25px;
    position: absolute;
    top: 350px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.hero{
    display: grid;
    grid-template-columns: 800px 400px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 1050px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#heroLeft>h4{
    position: relative;
    top: 50px;
    left: 45px;
    max-width: fit-content;
    max-height: fit-content;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
}

#vrticlStory {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    color: black;
    position: absolute;
    top: 300px;
    left: -70px;
    letter-spacing: 6px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    opacity: 90%;
}

#vrticlStory > hr {
    position: relative;
    top: -20px;
    left: 100px;
    opacity: 90%;
}

#heroLeft > h5 {
    font-size: 17px;
    font-family: "Junge", cursive;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 100px;
    left: 50px;
    line-height: 30px;
}

#heroRightSide{
    position: relative;
    left: -100px;
}

#firstPic{
    position: relative;
    top: 100px;
    left: 150px;
    max-width: fit-content;
    max-height: fit-content;
}

#firstPic > img {
    width: 350px;
    height: 580px;
}

#secondPic{
    position: relative;
    top: 150px;
    left: 150px;
    max-width: fit-content;
}

#secondPic > img {
    width: 350px;
    height: 500px;
}

#FooterBlackBackground {
    width: 100%;
    height: 50vh;
    background-color: black;
    position: absolute;
    top: 2350px;
}

#FooterBlackBackground > div > h6 {
    color: white;
    font-size: 15px;
    position: relative;
    left: 50px;
    max-width: 300px;
}

#bottomMiddleFooter > h2 {
    position: absolute;
    top: 2360px;
    bottom: 0;
    right: 0;
    left: 46%;
    margin: auto;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
}

#bottomMiddleFooter > nav > #links {
    position: absolute;
    top: 2400px;
    bottom: 0;
    right: 0;
    left: 46%;
    margin: auto;
    color: white;
    letter-spacing: 2px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#logoFooter {
    width: 180px;
    height: 160px;
    position: absolute;
    top: 2400px;
    right: 50px;
}

#infoLink {
    color: white;
    position: absolute;
    top: 2600px;
    left: 32%;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 14px;
}

#infoLink > a {
    color: white;
}

#infoLink > img {
    width: 20px;
    aspect-ratio: 1/1;
    position: relative;
    top: 4px;
}

#phoneIcon {
    width: 25px;
    aspect-ratio: 1/1;
    max-width: 25px;
    max-height: 25px;
    position: relative;
    top: 90px;
    left: 70px;
}

#FooterBlackBackground > div > #mobileNo {
    color: white;
    position: absolute;
    top: 60px;
    left: 113px;
    letter-spacing: 1px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#mailIcon {
    width: 25px;
    aspect-ratio: 1/1;
    position: relative;
    top: 145px;
    left: 40px;
}

#FooterBlackBackground > div > #email {
    color: white;
    position: absolute;
    top: 115px;
    left: 110px;
    letter-spacing: 1px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#middleFooter {
    display: none;
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1315px){

    #firstPic{
        position: relative;
        top: 100px;
        left: 130px;
        max-width: fit-content;
        max-height: fit-content;
    }

    #firstPic > img {
        width: 350px;
        height: 580px;
    }

    #secondPic{
        position: relative;
        top: 150px;
        left: 130px;
        max-width: fit-content;
    }

    #secondPic > img {
        width: 350px;
        height: 500px;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1316px){
    .hero{
        display: grid;
        grid-template-columns: 700px 300px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 1050px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #heroLeft{
        position: relative;
        left: -80px;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1176px){

    #firstPic{
        position: relative;
        top: 100px;
        left: 100px;
        max-width: fit-content;
        max-height: fit-content;
    }

    #firstPic > img {
        width: 350px;
        height: 580px;
    }

    #secondPic{
        position: relative;
        top: 150px;
        left: 100px;
        max-width: fit-content;
    }

    #secondPic > img {
        width: 350px;
        height: 500px;
    }

    #vrticlStory {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
        color: black;
        position: absolute;
        top: 300px;
        left: -45px;
        letter-spacing: 6px;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
        opacity: 90%;
    }

    #vrticlStory > hr {
        position: relative;
        top: -20px;
        left: 100px;
        opacity: 90%;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1116px){

    #firstPic{
        position: relative;
        top: 100px;
        left: 50px;
        max-width: fit-content;
        max-height: fit-content;
    }

    #firstPic > img {
        width: 350px;
        height: 580px;
    }

    #secondPic{
        position: relative;
        top: 150px;
        left: 50px;
        max-width: fit-content;
    }

    #secondPic > img {
        width: 350px;
        height: 500px;
    }

    #vrticlStory {
        transform: rotate(90deg);
        transform-origin: 50% 50%;
        color: black;
        position: absolute;
        top: 300px;
        left: -45px;
        letter-spacing: 6px;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
        opacity: 90%;
        display: none;
    }

    #vrticlStory > hr {
        position: relative;
        top: -20px;
        left: 100px;
        opacity: 90%;
        display: none;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1107px){
    #heading>h3{
        font-size: 28px;
    }

    #heroLeft{
        position: relative;
        left: -60px;
    }

    #heroLeft>h4{
        position: relative;
        top: 50px;
        left: 80px;
        max-width: fit-content;
        max-height: fit-content;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
        font-size: 20px;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1016px){

    .hero{
        display: grid;
        grid-template-columns: 800px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 1050px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #heroLeft{
        position: relative;
        top: -550px;
    }

    #heroLeft>h4{
        position: absolute;
        top: 10px;
        left: 140px;
    }

    #heroLeft>h5{
        position: absolute;
        top: 30px;
        left: 150px;
    }

    #heroLeft{
        position: relative;
        left: -50px;
    }

    #firstPic{
        position: relative;
        top: 100px;
        left: 0px;
        max-width: fit-content;
        max-height: fit-content;
        display: none;
    }

    #firstPic > img {
        width: 300px;
        height: 530px;
    }

    #secondPic{
        position: relative;
        top: 150px;
        left: 0px;
        max-width: fit-content;
        display: none;
    }

    #secondPic > img {
        width: 300px;
        height: 450px;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 888px){
    #heading>h3{
        font-size: 25px;
    }

    #infoLink{
        position: absolute;
        left: 200px;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 843px){
    #nav>div>a{
        font-size: 17px;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 816px){
    #heading>h3{
        font-size: 23px;
    }

    .hero{
        display: grid;
        grid-template-columns: 600px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 1050px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #FooterBlackBackground {
        width: 100%;
        height: 50vh;
        background-color: black;
        position: absolute;
        top: 2750px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 15px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 2760px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 2800px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #logoFooter {
        width: 180px;
        height: 160px;
        position: absolute;
        top: 2800px;
        right: 50px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 3000px;
        left: 20%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 14px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 25px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 90px;
        left: 70px;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 60px;
        left: 113px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #mailIcon {
        width: 25px;
        aspect-ratio: 1/1;
        position: relative;
        top: 145px;
        left: 40px;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 115px;
        left: 110px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    #middleFooter {
        display: none;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 742px){
    #nav>div>a{
        font-size: 15px;
        font-weight: bold;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 733px){
    #heading>h3{
        font-size: 20px;
    }

    #FooterBlackBackground {
        width: 100%;
        height: 50vh;
        background-color: black;
        position: absolute;
        top: 2800px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 12px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 2810px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 2840px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #logoFooter {
        width: 130px;
        height: 110px;
        position: absolute;
        top: 2840px;
        right: 20px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 3050px;
        left: 15%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 12px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 20px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 80px;
        left: 20px;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 60px;
        left: 53px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #mailIcon {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 140px;
        left: 0;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 115px;
        left: 55px;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #middleFooter {
        display: none;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 685px){
    #nav > div > a {
        font-size: 14px;
        font-weight: bold;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 652px){
    #blackBackground > #r1 > nav > div > a {
        color: #fff;
        margin: 0 20px;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 613px){
    #nav>div{
        display: none;
    }

    .hamburger{
        position: relative;
        top: -20px;
        left: -20PX;
    }

    .hamburger{
        position: relative;
        /*left: 500px;*/
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        border: none;
        z-index: 999;
    }

    .hamburger>.bar, .hamburger:after, .hamburger:before{
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after{
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar{
        opacity: 0;
    }

    .mobile_nav{
        position: fixed;
        top: 0;
        left: 100%;
        display: block;
        width: 100%;
        min-height: 100vh;
        background-color: black;
        padding: 120px;
        transition: 0.4s;
        z-index: 2;
    }

    .mobile_nav.is-active{
        left: 0;
        z-index: 2;
    }


    .mobile_nav>a {
        position: relative;
        left: -100px;
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: white;

        color: black;
        text-decoration: none;
        border-radius: 20px;
    }

    .mobile_nav>a:hover {
        background-color: grey;
    }

}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 616px){
    #heading>h3{
        font-size: 18px;
    }

    .hero{
        display: grid;
        grid-template-columns: 500px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 1050px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #heroLeft{
        position: relative;
        left: -100px;

    }

    #heroLeft>h4{
        font-size: 16px;
    }

    #heroLeft>h5{
        font-size: 14px;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 590px){
    #FooterBlackBackground {
        width: 100%;
        height: 60vh;
        background-color: black;
        position: absolute;
        top: 2900px;
    }

    #FooterBlackBackground > div > h6 {
        color: white;
        font-size: 12px;
        position: relative;
        left: 50px;
        max-width: 300px;
    }

    #bottomMiddleFooter > h2 {
        position: absolute;
        top: 2910px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 2px;
    }

    #bottomMiddleFooter > nav > #links {
        position: absolute;
        top: 2940px;
        bottom: 0;
        right: 0;
        left: 46%;
        margin: auto;
        color: white;
        letter-spacing: 2px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #logoFooter {
        width: 130px;
        height: 110px;
        position: absolute;
        top: 2940px;
        left: 20px;
    }

    #infoLink {
        color: white;
        position: absolute;
        top: 3200px;
        left: 3%;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 12px;
    }

    #infoLink > a {
        color: white;
    }

    #infoLink > img {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 4px;
    }

    #phoneIcon {
        width: 20px;
        aspect-ratio: 1/1;
        max-width: 25px;
        max-height: 25px;
        position: relative;
        top: 225px;
        left: 38vw;
    }

    #FooterBlackBackground > div > #mobileNo {
        color: white;
        position: absolute;
        top: 200px;
        left: 45vw;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }

    #mailIcon {
        width: 20px;
        aspect-ratio: 1/1;
        position: relative;
        top: 260px;
        left: 33vw;
    }

    #FooterBlackBackground > div > #email {
        color: white;
        position: absolute;
        top: 240px;
        left: 45vw;
        letter-spacing: 1px;
        font-family: "Inter Tight", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 576px){
    #heading>h3{
        font-size: 16px;
    }

    .hero{
        display: grid;
        grid-template-columns: 500px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 1050px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #heroLeft{
        position: relative;
        left: -100px;

    }

    #heroLeft>h4{
        font-size: 16px;
    }

    #heroLeft>h5{
        font-size: 14px;
    }
}


/*------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 516px){
    #heading>h3{
        font-size: 15px;
    }

    .hero{
        display: grid;
        grid-template-columns: 480px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 1050px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}
